table {
    border: 1px solid black;
}

.table_header {
    background-color: #8098CC;
    border: 1px, solid;
}

.unused {
    background-color: green;
}

.text {
    background-color: purple;
}

.bss {
    background-color: brown;
}

.data {
    background-color: #F5FFFA;
}

.stack {
    background-color: #AFAFFA;
}

td:nth-child(4){
   text-align: center;
}

.top {
    text-align: center;
    margin-bottom: 5px;
    border-bottom: 2px solid grey;
}

.view {
    float: left;
    display: inline;
}

#stat_view {
    display: inline-block;
    margin-top: 2em;
    margin-left: 2em;
    background-color: #C1C4E9;
    padding: 10px;
    border: 2px solid grey;
}

#container {
    display: inline-block;
    display: table;
    border-bottom: 2px solid grey;
}

.range_view {
    display: inline-block;
    margin-left: 2em;
    padding: 10px;
    border: 2px solid grey;
    background-color: #C1C4E9;
    margin-bottom: 2em;
    vertical-align: top;
}

.legend {
    float: right;
    margin-left: 2em;
    display: inline;
    background-color: #C2C1CC;
    padding: 5px;
    border: 1px solid black;
}

.legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
}

.legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 3;
    float: left;
    list-style: none;
    border: 1px solid #6B686A;
}

.legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
}

ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}

 .hidden {
    visibility: hidden;
    height: 0px;
 }
